<div class="container-fluid" style="padding-top: 2% !important;">
  <div class="card">
    <div class="card-header">
      <span>Order Confirmed</span>
    </div>
    <div class="card-body">
      <p>Your order is confirmed to be picked up at:</p>
      <p>6600 N Military Trl, Boca Raton, FL 33496</p>
      <p>Quantity: x1</p>
      <hr />
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/800px-QR_code_for_mobile_English_Wikipedia.svg.png" />
    </div>
    <div class="card-footer">
      <div class="btn-group btn-block">
        <button class="btn btn-success" (click)="dismiss()">OK</button>
      </div>
    </div>
  </div>
</div>
