<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="toolbar-title">
        <img class="header-image" src="../../assets/uyefsfs.png">
        BEACON
      
      <ion-buttons class="float-right">
        <button class="btn btn-danger">
          <span>SOS</span>
        </button>
        <button class="btn btn-success" (click)="presentGettingStartedModal()">
          <span><i class="fa fa-question-circle"></i></span>
        </button>
        <!-- <button class="btn btn-success">
          <span><i class="fa fa-user"></i></span>
        </button> -->
      </ion-buttons>
    </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
